.contentWrapper {
  width: 1138px;
  flex-direction: row;
  padding: 0 var(--padding-smi);
  box-sizing: border-box;
  max-width: 100%;
}
.contentWrapper,
.incio,
.searchBarContainerParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.searchBarContainerParent {
  flex: 1;
  flex-direction: column;
  gap: 574px;
  max-width: calc(100% - 280px);
}
.incio {
  width: 100%;
  position: relative;
  background-color: var(--grey-grey-50);
  overflow: hidden;
  flex-direction: row;
  padding: 0 0 var(--padding-232xl);
  box-sizing: border-box;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1125px) {
  .searchBarContainerParent {
    gap: 287px;
  }
}
@media screen and (max-width: 1050px) {
  .searchBarContainerParent {
    max-width: 100%;
  }
  .incio {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .searchBarContainerParent {
    gap: 143px;
  }
}
@media screen and (max-width: 450px) {
  .searchBarContainerParent {
    gap: 72px;
  }
}
